{% block k10r_account_offer_overview %}
    <div class="k10r-reiff-integration-account-offer-overview">
        <div class="k10r-reiff-integration-account-offer-overview-inner k10r-reiff-integration-account-offer-ajax-content mb-4">
            <div class="font-weight-bold">
                {{ "ReiffIntegrations.customer.offer.listLoading"|trans }}
            </div>
        </div>
    </div>
{% endblock %}
