{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

{% block page_product_detail_price_block_table_body_cell_quantity %}
    <th scope="row" class="product-block-prices-cell product-block-prices-cell-thin">
        <meta itemprop="priceCurrency" content="{{ page.header.activeCurrency.translated.shortName }}" />
        <meta itemprop="price" content="{% sw_include '@Storefront/storefront/component/k10r-price/simple-price-plain-placeholder.html.twig' with { productNumber: page.product.productNumber, price: price.unitPrice } %}" />

        {{ "detail.priceDataInfoFrom"|trans|sw_sanitize }}
        <span class="product-block-prices-quantity">{{ price.quantity }}</span>
    </th>
{% endblock %}

{% block page_product_detail_price_inner %}
    {% if not isPageRendering %}
        {% sw_include '@Storefront/storefront/component/k10r-price/detailed-price-placeholder.html.twig' with {
            productNumber: page.product.productNumber,
            calculatedPrices: page.product.calculatedPrices,
            calculatedPrice: page.product.calculatedPrice,
            unit: page.product.unit.translated.name
        } %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_product_detail_price_block_table_body_cell_price %}
    <td class="product-block-prices-cell">
        {% sw_include '@Storefront/storefront/component/product/block-price.html.twig' with {
            price: price,
            isPageRendering: isPageRendering,
            isFallback: isFallback,
            debtorNumber: debtorNumber,
            unit: page.product.unit.translated.name
        } only %}
    </td>
{% endblock %}
