.b2b-order-search-form {}

.b2b-order-search-reset {
  height: 30px;
  margin-bottom: 2px;
}

.b2b-order-search-results-wrap {
  background: #f7f7f7;
  border: 1px solid $sw-border-color;

  .sorting-buttons {
    position: sticky;
    top: 0;
    z-index: 1;

    > .row {
      border-bottom: 5px solid $sw-color-brand-primary;

      > [class*="col"] {
        display: flex;
        align-items: center;
        font-weight: 600;
        background: $color-white;
        border-right: 1px solid $sw-border-color;
        padding: 1.25rem 1rem;
        white-space: nowrap;

        &:last-child {
          justify-content: center;

          .icon {
            svg {
              top: 0;
            }
          }
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      padding: 1px 8px;
      position: relative;

      .icon {
        color: darken($sw-border-color, 10%);
        width: 11px;
        height: 14px;

        svg {
          top: 0;
        }
      }

      &.active-sorting {
        &[data-sorting-direction="asc"] {
          .icon-arrow-down-long-solid {
            color: $sw-color-brand-primary;
          }
        }

        &[data-sorting-direction="desc"] {
          .icon-arrow-up-long-solid {
            color: $sw-color-brand-primary;
          }
        }
      }
    }
  }
}

.b2b-order-search-results {
  .b2b-accordion {
    transition: none;

    &:nth-child(even) {
      .b2b-accordion__title {
        background: $color-white;
      }
    }

    &:hover {
      .b2b-accordion__title {
        background: darken(#f7f7f7, 2%);
      }
    }

    .icon:not(.icon-arrow-head-down) {
      svg {
        transform: none !important;
      }
    }

    &.b2b-accordion--open .b2b-accordion__title .icon-arrow-head-down svg {
      transform: rotate(180deg);
    }
  }

  .b2b-accordion__title {
    font-size: $font-size-base;
    padding: 16px 0;

    .icon {
      svg {
        top: 0;
      }
    }

    [class*="col"] {
      display: flex;
      align-items: center;
      padding: 0 16px;

      &:last-child {
        display: flex;
        justify-content: center;
      }

      &:nth-last-child(2) {
        .icon {
          margin-left: 8px;

          &.icon-basket {
            margin-left: auto;
          }
        }
      }
    }
  }
}

.b2b-accordion--open {
  .b2b-accordion__title {
    background: $color-white;
    border-top: 1px solid $sw-color-brand-primary;
    font-weight: $font-weight-bold;
  }

  .b2b-accordion__body {
    background: $color-white;
    border-bottom: 1px solid $sw-color-brand-primary;
    font-weight: $font-weight-normal;
  }
}

.cl-green {
  color: #028B51;
}
.cl-orange {
  color: orange;
}
.cl-yellow {
  color: yellow;
}

.order-main-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      list-style: none;
    }

    ul {
      margin-left: 16px;
      margin-bottom: 8px;
    }
  }

  .icon {
    color: $sw-color-brand-primary;
    width: 16px;
    height: 16px;
  }
}

.order-positions-table {
  tr {
    vertical-align: middle;
  }

  .btn {
    line-height: 1;
    padding: 0;

    .icon {
      color: $color-white;
      width: 16px;
      height: 16px;
    }

    svg {
      top: 0;
    }
  }
}
