{% block sw_customer_default_addresses_billing_postal %}
    <sw-address v-if="!customerEditMode"
                :address="customer.defaultBillingAddress"
                :headline="$tc('sw-customer.detailBase.titleDefaultBillingAddress')"
                :show-edit-button="customerEditMode"
                :edit-link="defaultBillingAddressLink"
                :formatting-address="formattingBillingAddress"
    />

    <div v-else>
        <sw-text-field
            v-model="customer.defaultBillingAddress.company"
            :label="$tc('sw-customer.addressForm.labelCompany')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.department"
            :label="$tc('sw-customer.addressForm.labelDepartment')"
        />
        <sw-entity-single-select
            v-model="customer.defaultBillingAddress.salutationId"
            entity="salutation"
            label-property="displayName"
            :label="$tc('sw-customer.addressForm.labelSalutation')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.title"
            :label="$tc('sw-customer.addressForm.labelTitle')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.firstName"
            :label="$tc('sw-customer.addressForm.labelFirstName')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.lastName"
            :label="$tc('sw-customer.addressForm.labelLastName')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.street"
            :label="$tc('sw-customer.addressForm.labelStreet')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.additionalAddressLine1"
            :label="$tc('sw-customer.addressForm.labelAdditionalAddressLine1')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.additionalAddressLine2"
            :label="$tc('sw-customer.addressForm.labelAdditionalAddressLine2')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.zipcode"
            :label="$tc('sw-customer.addressForm.labelZipcode')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.city"
            :label="$tc('sw-customer.addressForm.labelCity')"
        />
        <sw-entity-single-select
            v-model="customer.defaultBillingAddress.countryId"
            entity="country"
            :label="$tc('sw-customer.addressForm.labelCountry')"
        />
        <sw-text-field
            v-model="customer.defaultBillingAddress.phoneNumber"
            :label="$tc('sw-customer.addressForm.labelPhoneNumber')"
        />
    </div>
{% endblock %}
